.App {
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
}

.Sidebar {
    background-color: #2f4050;
    height: 100%;
    width: 250px;
}

.SidebarList {
    height: auto;
    width: 100%;
    padding: 0;
}

.SidebarList .SidebarListRow {
    width: 100%;
    height: 60px;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.SidebarList .SidebarListRow:hover{
    cursor: pointer;
    background-color: #293846;
}
/*.SidebarList #active{*/
/*    background-color: #293846;*/
/*}*/
.SidebarListRow #icon{
    flex: 30%;
    display: grid;
    place-items: center;
}

.SidebarListRow #title{
    flex: 70%;
}